
body{
    background-color: black;
    color: white;
    font-family: Luminari, fantasy;
}
header{
    background-color: red;
    color: black;
    position: fixed;
    width: 100%;
}
table{
    align-self: center;
    border-color: black;
    border-width: 1px;
    background-color: red;
    align-items: center;
}
body h3{
    color: red;
}
footer{
    background-color: red;
    color: black;
    text-align: right;
    position: fixed;
}
body p{
    text-align: justify;
}
ul > li{
    text-align: justify;
}
body h4{
    color: red;
}

